---
layout: default
title: Components
slug: components
lead: "Over a dozen reusable components built to provide iconography, dropdowns, input groups, navigation, alerts, and much more."
---


{% include components/alerts.html %}
{% include components/charts-graphs.html %}
{% include components/controls.html %}
{% include components/forms.html %}
{% include components/headers.html %}
{% include components/icons.html %}
{% include components/illustrations.html %}
{% include components/multimedia.html %}
{% include components/sample-pages.html %}
{% include components/tables.html %}
{% include components/typography.html %}