<div class="container">
  <nav class="navbar navbar-junior hidden-xs">
    <div class="container-fluid">
      <div class="" id="">
        <ul class="nav navbar-nav">
          <li><a href="#"><i class="fab fab-twitter"></i></a></li>
          <li><a href="#"><i class="fab fab-facebook-alt"></i></a></li>
          <li><a href="#"><i class="fab fab-linkedin-alt"></i></a></li>
          <li><a href="#"><i class="btb bt-rss"></i></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Journalists</a></li>
          <li><a href="#">Sign Up</a></li>
          <li class="bg-brand-secondary"><a href="#">Send a Release</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div> <!-- .container -->