<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          {% img logo_prn_trans.png class:'img-responsive' alt:'This is my alt' %}
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="" id="">
        <ul class="nav navbar-nav">
          <li><a href="/components" title="">Components</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="javascript:void(0)" data-toggle="modal" data-target="#search-modal">
              Search<i class="btr bt-search bt-lg text-muted"></i>
            </a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

</div><!-- .container -->
