//
// Navs
// --------------------------------------------------


// Base class
// --------------------------------------------------
// Header Nav Styles

.main-header {
  // margin-bottom: 20px;
}

.nav-main {
  width: 100%;
  border-bottom: 3px solid $gray-lighter;
  .nav > li > a {
    padding-left: ($padding-large-horizontal * 1.5);
    padding-right: ($padding-large-horizontal * 1.5);
  }
  .navbar-right {
    i {
      margin-left: $padding-large-horizontal;
    }
  }
}
.nav-junior {
  background-color: $brand-primary;

  .nav {
    > li > a {
      padding: $nav-junior-link-padding;
    }
  }
}

// --------------------------------------------------
// Sub Nav
.nav-subnav {
  border-bottom: 2px solid $gray-lighter;
  > .container {
    margin-bottom: -2px;
  }
  .nav > li > a:hover,
  .nav > li > a:focus {
    background: transparent
  }
  .navbar {
    min-height: 0;
    color: $gray-base;
    margin-bottom: 0;
    border: none;
    .nav,
    .collapse,
    .dropup,
    .dropdown {
      position: static;
    }
    .dropdown-menu {
      left: auto;
    }
    .dropdown.fw .dropdown-menu {
      left: 0; right: 0;
      margin-top: 0;
      padding: 0;
      border-top: 0;
      border-color: $gray-lighter;
    }
    .nav-pills > li + li {
      margin-left: 0;
    }
    a {
      font-size: 14px;
      color: $gray-base;
    }
    .tier-two > li > a {
      padding: 13px 15px 9px;
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.2s ease-in-out;
      &:focus {
        background: none;
      }
      @media (max-width: $screen-md-max) {
        padding-left: 10px;
        padding-right: 10px;
      }
      @media (max-width: $screen-sm-max) {
        font-size: 11px;
        padding-left: 6px;
        padding-right: 6px;
      }
      .news-releases & {
        cursor: default;
      }
    }

    .tier-two > li > a:active,
    .tier-two > li.active > a,
    .tier-two > li.active > a:hover,
    .tier-two > li.active > a:focus {
      color: $brand-secondary;
      background: none;
      border-color: $brand-secondary;
    }

    .tier-two > li.open > a {
      background: none;
      border-color: $brand-secondary;
    }

    .tier-three {
      box-shadow: none;
      @include border-radius(0 0 2px 2px);
      .left {
        @media (max-height: $screen-sm-max) {
          width:33%;
        }
      }
      .left > li {
        padding: 13px 0 13px 20px;
        transition: background 0.2s ease;
        & a {
          @media (max-width: $screen-sm-max) {
            font-size: 10px;
          }
        }
        &.open {
          background: #EFF9FA;
        }
        i {
          float:right;
          margin-right: 24px;
          margin-top: 4px;
          @media (max-width: $screen-sm-max) {
            margin-right:14px;
            font-size: .8em;
          }
        }
        &.open > a {
          background: #EFF9FA;
          font-weight: bold;
          text-decoration: none;
          background: none;
          & i {
            font-weight: bold;
          }
        }
      }
      .left {
        border-right: 1px solid $gray-lighter;
      }
      .right {
        padding: 20px 35px 20px 20px;
        border-left: 1px solid $gray-lighter;
      }
    }
    .tier-three li > .tier-four.visible {
      visibility:visible;
    }
    .tier-four {
      position: absolute;
      top: 0;
      left: 100%;
      visibility: hidden;
      padding-top: 10px;
      padding-left:0;
      width: 790px;
      font-weight: normal;
      list-style: none;
      @media (max-width: $screen-md-max) {
        width: 620px;
      }
      @media (max-width: $screen-sm-max) {
        width: 473px;
      }
      &.columned {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 0px; /* Chrome, Safari, Opera */
        -moz-column-gap: 0px; /* Firefox */
        column-gap: 0px;
        @media (max-width: $screen-sm-max) {
          -moz-column-count: 2;
          -webkit-column-count: 2;
          column-count: 2;
        }
      }
      & > li {
        padding: 4px 24px;
        page-break-inside:avoid;
        -webkit-column-break-inside:avoid;
        break-inside:avoid;
        a {
          @media (max-width: $screen-sm-max) {
            font-size: 10px;
          }
        }
      }
      & > .btn {
        position: absolute;
        left: 0;
        bottom: -50px;
        margin: 10px 24px 4px;
        @media (max-width: $screen-sm-max) {
          font-size: 10px;
        }
      }
    }
  }
  .adv-search {
    position: relative;
    z-index: 1000;
    @media (max-width: $screen-md-max) {
      padding-right: 12px;
      padding-left: 12px;
    }
    @media (max-width: $screen-sm-max) {
      font-size: 11px;
    }
  }
}

.nav-subnav-buttons {
  position: relative;
  z-index: 5;
}

// --------------------------------------------------
// Sticky Nav

.nav-sticky {
  & > .navbar {
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: $zindex-navbar-fixed;
    background: $navbar-sticky-bg;
    border: none;
    box-shadow: $navbar-sticky-shadow;
    transition: $navbar-sticky-transition;
    min-height: $navbar-sticky-height;
    height: $navbar-sticky-height;
    &.nav-up {
      top: -50px;
      box-shadow: none;
    }

  }
  .navbar-nav {
    & > li > a {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    &.section-nav {
      & > li {
        min-width: 130px;
        background: $gray-lighter;
        @media (max-width: $screen-md-max) {
          min-width: 110px;
        }
        @media (max-width: $screen-sm-max) {
          min-width: 95px;
        }
      }
      li a {
        padding: 15px 15px;
        color: $brand-primary;
        &:hover,
        &:focus {
          background: $navbar-sticky-link-active-bg;
        }
        @media (max-width: $screen-md-max) {
          font-size: 13px;
          padding-top: 16px;
          padding-bottom: 14px;
        }
        @media (max-width: $screen-sm-max) {
          font-size: 10px;
          padding: 15px 10px;
        }
      }
      .dropdown-menu {
        min-width: 130px;
        z-index: 700;
        padding:0;
        border: $navbar-sticky-dropdown-border;
        border-width: 0 1px 1px 0;
        @include border-radius(0px);
        box-shadow: none;
        @media (max-width: $screen-md-max) {
          min-width: 110px;
        }
        @media (max-width: $screen-sm-max) {
          min-width: 95px;
        }
      }
      i {
        float:right;
        line-height: 1.4;
        @media (max-width: $screen-sm-max) {
          font-size: 12px;
          line-height: 1.5;
        }
      }
      &.inline > li {
        min-width: 0;
        background-color: transparent;
        a {
          &:after {
            display: block;
            content: attr(title);
            visibility: hidden;
            height: 1px;
            margin-bottom: -1px;
            font-weight: bold;
            color: transparent;
            overflow: hidden;
          }
          &:hover {
            padding-bottom: 13px;
            color: $brand-secondary;
            font-weight: bold;
            background: $navbar-sticky-link-active-bg;
            border-bottom: 2px solid $brand-secondary;
          }
        }
      }
    }


    // share/contact/search menu right
    &.navbar-right {
      padding-right: 15px;
      & > li > a {
        width: 50px;
        text-align: center;
        color: $brand-primary;
        &:hover {
          color: $brand-secondary;
          background: $navbar-sticky-link-active-bg;
        }
        &:focus {
          background: $navbar-sticky-link-active-bg;
        }
      }
      & > li.open > a {
        padding-bottom: 12px;
        color: $brand-secondary;
        background: $navbar-sticky-link-active-bg;
        border-bottom: 3px solid $brand-secondary;
      }
      .dropdown-menu {
        padding: 20px;
        color: $brand-primary;
        background: $navbar-sticky-bg;
        border: $navbar-sticky-dropdown-border;
        border-width: 0 1px 1px 1px;
        @include border-radius(0px);
        box-shadow: none;
        p {
          margin-bottom:10px;
          padding-top:10px;
        }
        &.share {
          width:242px;
          li {
            float:left;
            font-size:2em;
            a {
              height:50px;
              padding: 0;
              line-height: 2em;
              &:hover {
                background: inherit;
                i {
                  color: $brand-secondary;
                }
              }
              i {
                width:50px;
                color: $brand-primary;
                text-align: center;

              }
            }
            &.open > a > i {
              color:$brand-secondary;
            }
          }
        }
        &.contact {
          width:273px;
          & > li > a {
            padding: 0;
            &:hover {
              background: inherit;
              color: $brand-secondary;
            }
          }
        }
        &.search {
          width: 300px;
        }
      }
    }
    .btn-nav-cta {
      color: #fff;
      background-color: $brand-secondary;
      border-color: $brand-secondary;
      &:active:hover {
        background-color: darken($brand-secondary, 5%);
        border-color: darken($brand-secondary, 5%);
      }
    }
  }
  // sticky subnav
  .nav-subnav {
    display: inline-block;
    z-index: 999;
    border: none;
    line-height: initial;
    .tier-two > li > a {
      padding: 18px 15px 16px;
      color: $brand-primary;
      line-height: 1;
      @media (max-width: $screen-md-max) {
        font-size: 13px;
        padding-top: 19px;
        padding-bottom: 16px;
        padding-left: 10px;
        padding-right: 10px;
      }
      @media (max-width: $screen-sm-max) {
        font-size: 10px;
        padding-top: 20px;
        padding-bottom: 18px;
        padding-left: 6px;
        padding-right: 6px;
      }
    }
    .tier-two > li:first-of-type > a {
      @media (max-width: $screen-md-max) {
        padding-left: 12px;
      }
      @media (max-width: $screen-sm-max) {
        padding-left: 9px;
      }
    }
    .tier-three {
      background: $navbar-sticky-bg;
      border-top: none;
      .left > li {
        @media (max-width: $screen-md-max) {
          padding-left: 16px;
        }
      }
    }
    .tier-four {
      width: 571px;
      @media (max-width: $screen-md-max) {
        width: 501px;
      }
      @media (max-width: $screen-sm-max) {
        width: 373px;
      }
    }
  }
}

// --------------------------------------------------
// Mobile Nav

nav#nav-mobile {
  opacity: 0;
}

.mm-menu {
  background: #fff;
  & * {
    color: $gray-lighter;
  }
  .mmenu-header {
    background: $gray-base;
    text-align: left;
    a {margin-left: 58px;}
  }
  .mm-navbar {
    height: 60px;
    & > * {
      padding: 20px 0;
    }
  }

  .mm-navbar-top-2 {
    top: 60px;
  }
  .mm-navbar-bottom {
    height: 120px;
  }
  .mm-navbar a.tier-one {
    color: $brand-secondary;
    background: #fff;
    border-right: 1px solid $gray-lighter;
    border-bottom: 1px solid $gray-lighter;
    &:last-child {
      border-right: 0;
    }
    &.active {
      color: #fff;
      background: $brand-secondary;
    }
  }

  .mm-panel {
    background: #fff;
    .mm-navbar {
      border-color: $gray-lighter;
    }
    &.empty {
      background: #fff;
    }
    & * {
      color: $gray-base;
      i {
        color: $brand-secondary;
      }
    }
  }

  .mm-navbar .mm-prev:before {
    border-color: $brand-secondary;
  }
  .mm-prev:before, .mm-next:after, .mm-arrow:after {
    width: 10px;
    height: 10px;
  }
  .mm-navbar .mm-title {
    color: $brand-secondary;
  }
  .mm-listview > li .mm-next:after {
    border-color: $brand-secondary;
  }
  .mm-listview > li,
  .mm-menu .mm-listview > li .mm-arrow:after {
    border-color: $gray-lighter;
  }
  .mm-listview > li.mm-selected > a:not(.mm-next),
  .mm-listview > li.mm-selected > span {
    background: $gray-lightest;
    color: $brand-secondary;
  }
}

.mobile-logo {
  height: 20px;
}

.mm-footer-block {
  display: table!important;
  float: left;
  width:50%!important;
  height: 60px;
  .inner {
    display: table-cell;
    vertical-align: middle;
    color: $brand-secondary;
    i {
      color: $brand-secondary;
    }
  }
}

.mm-footer-block:nth-child(-n+2) {
  border-bottom: 1px solid $gray-lighter;
}

.mm-social-footer,
.mm-footer-block--left {
  border-right: 1px solid $gray-lighter;
}
.mm-social-footer i {
  width:20%;
}

.mm-close {
  &.fa {
    font-size: 1.5em;
  }
  position: fixed;
  top: 22px;
  left: 16px;
  cursor: pointer;
  &:after {
    content: none;
  }
}

.mm-navbar-size-2 {
  height: 60px;
}

.mm-panels > .mm-panel.mm-hasnavbar {
    padding-top: 60px;
}

.mm-hasnavbar-top-2 .mm-panels {
  top: 120px;
}

.mm-hasnavbar-bottom-2 .mm-panels {
  bottom: 120px;
}

.mm-listview > li > a, .mm-listview > li > span {
  padding-top: 20px;
  padding-bottom: 20px;
}

.mm-navbar .mm-btn {
  width: 60px;
  height: 60px;
}